.build/
.swiftpm/
DerivedData/
RecordReader.xcodeproj/
*.xcworkspace/
*.xcuserstate
xcuserdata/
.DS_Store
App/RecordReader/Resources/SherpaOnnxModels/paraformer-zh/*.onnx
App/RecordReader/Resources/SherpaOnnxModels/paraformer-zh/*.txt
App/RecordReader/Resources/SherpaOnnxModels/vad/*.onnx
